<h3>HELLO, DAISY MURPHY!</h3>
<div style="margin:1em 0;">
  I'm creative director and UI/UX designer from Sydney, Australia, working in
  web development and print media. I enjoy turning complex problems into simple
  , beautiful and intuitive designs. My job is to build your website so that it
  is functional and user-friendly but at the same time attractive. Moreover, I
  add personal touch to your product and amake sure that is eye-catching and
  easy to use. My aim is to bring across your message and identity in the most
  creative way. I created web design for many famous brand companies.
</div>
<button type="button" class="btn btn-primary">HIRE ME</button>
