<!--<<p>
info-panel works!
</p>

<button class="btn btn-primary">hello</button>>-->
<div class="infoPanel">
  <!--<img src="assets/images/daisy.jpg" alt = "profile picture" />-->
  <img
    src="https://media.istockphoto.com/photos/have-all-the-determination-to-succeed-big-picture-id1036079862"
    class="profilePic"
  />
  <h4>Daisy Murphy</h4>
  <label class="designation"> UI/UX Designer</label>
  <div class="social-btns">
    <a class="btn facebook" href="#"
      ><i class="fa fa-facebook text-primary" aria-hidden="true"></i
    ></a>
    <a class="btn twitter" href="#"
      ><i class="fa fa-twitter text-primary" aria-hidden="true"></i
    ></a>
    <a class="btn linkedin" href="#"
      ><i class="fa fa-linkedin text-primary" aria-hidden="true"></i
    ></a>
    <a class="btn dribbble" href="#"
      ><i class="fa fa-dribbble text-primary" aria-hidden="true"></i
    ></a>
    <a class="btn github" href="#"
      ><i class="fa fa-github text-primary" aria-hidden="true"></i
    ></a>
  </div>
  <div class="personalInfo">
    <h6>PERSONAL INFORMATION</h6>
    <div>BIRTHDAY : 15 April 1990</div>
    <div>WEBSITE : www.example.com</div>
    <div>PHONE : +1 123 000 4444</div>
    <div>MAIL : your@example.com</div>
    <div>Location : California, USA</div>
  </div>
  <button class="downloadBtn bg-primary text-white">
    <i class="fa fa-download"></i> Download CV
  </button>
  <div class="languages">
    <h6 class="text-primary">LANGUAGES</h6>
    <div>English : native</div>
    <div>Spanish : fluent</div>
    <div>Italian : fluent</div>
  </div>
  <div class="interests">
    <h6 class="text-primary">INTERESTS</h6>
    <div>Video Games</div>
    <div>Finance</div>
    <div>Basketball</div>
    <div>Theatre</div>
  </div>
</div>
