<div class="col-6 FL">
  <h3>EDUCATION</h3>
  <div class="mt-4 FL">
    <i class="fa fa-solid fa-circle col-1 FL text-secondary"></i>
    <div class="col-11 FL">
      <label class="p-1 mb-1 bg-primary text-white rounded small">
        1998-2005
      </label>
      <label class="w-100 text-dark small bold">
        Master In Computer Science</label
      >
      <label class="w-100 text-secondary small">MASTER, UNIVERSITY</label>
      <label class="w-100 text-dark small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu
        ligula risus. Aenean finibus viverra rutrum. Pellentesque rhoncus vel mi
        et interdum.
      </label>
    </div>
  </div>
  <div class="mt-4 FL">
    <i class="fa fa-solid fa-circle col-1 FL text-primary"></i>
    <div class="col-11 FL">
      <label class="p-1 mb-1 bg-primary text-white rounded small">
        1995-1998
      </label>
      <label class="w-100 text-dark small bold">
        Studied At Harward University</label
      >
      <label class="w-100 text-secondary small">UNIVERSITY</label>
      <label class="w-100 text-dark small">
        Fusce porta iaculis tristique. Fusce vitae ante lacinia, mollis dolor
        at, condimentum odio. Proin semper, lacus quis finibus tincidunt, lacus
        quam aliquam turpis, vel luctus ipsum metus non dui.
      </label>
    </div>
  </div>
  <div class="mt-4 FL">
    <i class="fa fa-solid fa-circle col-1 FL text-secondary"></i>
    <div class="col-11 FL">
      <label class="p-1 mb-1 bg-primary text-white rounded small">
        1993-1995
      </label>
      <label class="w-100 text-dark small bold">
        Studied At Oxford University</label
      >
      <label class="w-100 text-secondary small">UNIVERSITY</label>
      <label class="w-100 text-dark small">
        Aenean finibus viverra rutrum. Pellentesque rhoncus vel mi et interdum.
      </label>
    </div>
  </div>
</div>
<div class="col-6 FL mobExpContainer">
  <h3>EXPERIENCE</h3>
  <div class="mt-4 FL">
    <i class="fa fa-solid fa-circle col-1 FL text-secondary"></i>
    <div class="col-11 FL">
      <label class="p-1 mb-1 bg-primary text-white rounded small">
        2010-2014
      </label>
      <label class="w-100 text-dark small bold"> UI/UX Designer</label>
      <label class="w-100 text-secondary small">Web Agency</label>
      <label class="w-100 text-dark small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.e rhoncus vel mi
        et interdum.
      </label>
    </div>
  </div>
  <div class="mt-4 FL">
    <i class="fa fa-solid fa-circle col-1 FL text-primary"></i>
    <div class="col-11 FL">
      <label class="p-1 mb-1 bg-primary text-white rounded small">
        2008-2010
      </label>
      <label class="w-100 text-dark small bold"> Web Designer</label>
      <label class="w-100 text-secondary small">Apple Inc.</label>
      <label class="w-100 text-dark small">
        Nam quis dignissim ante. Vestibulum et lacus id erat mollis porta sit
        amet ut augue. In a dui scelerisque, laoreet urna vitae, facilisis sem.
      </label>
    </div>
  </div>
  <div class="mt-4 FL">
    <i class="fa fa-solid fa-circle col-1 FL text-secondary"></i>
    <div class="col-11 FL">
      <label class="p-1 mb-1 bg-primary text-white rounded small">
        2006-2008
      </label>
      <label class="w-100 text-dark small bold"> Graphic Designer</label>
      <label class="w-100 text-secondary small">Apple Inc.</label>
      <label class="w-100 text-dark small">
        Vestibulum et lacus id erat mollis porta sit amet ut augue. In a dui
        scelerisque, laoreet urna vitae, facilisis sem.
      </label>
    </div>
  </div>
</div>
