<h3>SERVICES</h3>
<div class="mt-4 FL col-6">
  <i class="col-2 fa fa-bullseye fa-4x FL text-primary"></i>
  <div class="col-10 FL">
    <label class="w-100 text-dark small bold"> web designing</label>
    <label class="w-100 text-dark small">
      Aenean finibus viverra rutrum. Pellentesque rhoncus vel mi et interdum.
    </label>
  </div>
</div>
<div class="mt-4 FL col-6">
  <i class="col-2 fa fa-lightbulb-o fa-4x FL text-primary"></i>
  <div class="col-10 FL">
    <label class="w-100 text-dark small bold"> Graphic design</label>
    <label class="w-100 text-dark small">
      Integer et laoreet velit. Fusce porta iaculis tristique. Fusce vitae ante
      lacinia
    </label>
  </div>
</div>
